* {box-sizing: border-box;}

.resort{
  font-weight: bold;
  color: #1976D2;
}

#contact{
  font-size: 90%;
}

body {
  background-color: #EAEAEA;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

#wrapper{
  background-image: linear-gradient(to bottom, #FFFFFF, #90c7e3);
  background-color:#90C7E3;
  margin-top:0px;
}

h1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  letter-spacing: 0.25em;
  margin-top: 0px;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', serif;
}

h3{
  color: #000033;
}

header {
  background-color: #002171;
  color: #FFF;
  text-align: center;
  }

header a{
  text-decoration: none;
  }

 header a:link{color:#FFFFFF;}

 header a:visited{color:#FFFFFF;}

header a:hover{color:#90C7E3;}

nav {
  font-size: 120%;
  padding: 0px;
  text-align: center;
}

nav a{
  font-weight: bold;
  text-decoration: none;
}

a:link{color:#5C7FA3;}

a:visited{color:#344873;}

a:hover{color:#A52A2A;}

nav li{
  border-bottom: 1px solid DarkBlue;
}

#homehero{
  background-image: url(coast2.jpg);
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#yurthero{
  background-image: url(yurt.jpg);
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}

#trailhero{
  background-image: url(trail.jpg);
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}

main{
  background-color: #FFFFFF;
  padding: 1px 20px 30px 20px;
  display: block;
  overflow: auto;
}

h2 {
  color: #1976D2;
  text-shadow: 1px 1px 1px #CCCCCC;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.2em;
}

main ul{
  list-style-image: url(marker.gif);
}

dt {
  color: #002171;
}

footer {
  background-color: #FFFFFF;
  font-size: 75%;
  font-style: italc;
  text-align: center;
  font-family: Georgia, 'Times New Roman', serif;
  padding: 2em;
}

table {
  border: 2px solid #3399CC;
  border-collapse: collapse;
}

td, th {
  border: 2px solid #3399CC;
  padding: 0.5em;
}

td {
  text-align: center;
}

.text{
  text-align: left;
}

table:nth-of-type(odd){
  background-color: #f5FAFC;
}

form{ display: flex;
      flex-flow: column nowrap;
    }

input, textarea{
      margin-bottom: .5em;
}


@media (min-width: 600px) {
  nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap:
    }

  nav li {
      border-bottom: none;
  }

  section {
    padding-right: 2em;
    padding-left: 2em:
   }

  .content main {
                display: grid;
                 grid-template-rows: auto;
                 grid-template-columns: 1fr 1fr 1fr;
    }

    h2 {
        grid-row: 1/2;
        grid-column: 1/5;
    }

    section {
        grid-row: 2/3;
        grid-column: auto;
    }

    #special {
      grid-row: auto;
      grid-column: 1/5;
    }

    table{
       width: 100%;
       margin: auto;
    }

    footer {
      grid-row: auto;
      grid-column: 1/5;
    }

    form { 
      display: grid;
      width: 60%;
      grid-template-rows: auto;
      grid-template-columns: 6em 1fr;
      grid-gap: 1em; gap: 1em;
    }

    input[type="submit"] {
      grid-column: 2 / 3;
      width: 9em; 
      margin-left: 0;} 
 }

 @media (min-width: 1024px) {

  nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }

  nav {
    text-align: left;
    padding-left: 1em;
  }

  #wrapper {
    margin: auto;
    width: 80%;
    border: 1px solid DarkBlue;
    box-shadow: 5px 5px 5px #828282;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 180px 1fr;
  }

  header {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  nav {
    grid-row: 2/5;
    grid-column: 1/2;
  }

  div {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  main{
    grid-row: 3/4;
    grid-column: 2/3;
  }

 footer{
    grid-row: 4/5;
    grid-column: 2/3;
  }

 } 





